<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethiopian Model Hub</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
        }

        .container {
            max-width: 1200px;
            margin: 40px auto;
            padding: 20px;
            background: #262b32;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .intro-text h1 {
            color: #ffffff;
        }

        .section h2 {
            color: #007BFF;
        }

        footer {
            background-color: #16408e;
        }
    </style>
</head>

<body>
    <div class="container mx-auto p-8 bg-white shadow-lg rounded-lg">
        <div class="intro-text text-center mb-8">
            <h1 class="text-4xl font-bold text-blue-900">Welcome to the Ethiopian AI Models Hub</h1>
            <p class="text-white">Discover different models for Ethiopian languages.</p>
            <p class="text-white">⚠️Some of them might not work so reload them or just check the models directly.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Mask</h2>
                <input type="text" id="prompt" placeholder="Enter a sentence" class="w-full p-2 border rounded mb-2">
                <button onclick="getSuggestions()" class="w-full p-2 bg-blue-500 text-white rounded">Get Suggestions</button>
                <ul id="suggestions" class="list-none p-0 mt-2"></ul>
                <p class="mt-2">By EthioNLP <a id="llm-link" class="model-link text-blue-500" href="#" target="_blank">Model Source 🤗</a></p>
            </div>

            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Upload Audio for Transcription</h2>
                <input type="file" id="audio-file" class="w-full p-2 border rounded mb-2">
                <button onclick="uploadAudio()" class="w-full p-2 bg-blue-500 text-white rounded">Upload and Transcribe</button>
                <ul id="transcriptions" class="list-none p-0 mt-2"></ul>
                <p class="mt-2">By agkphysics <a id="asr-link" class="model-link text-blue-500" href="#" target="_blank">Model Source 🤗</a></p>
            </div>

            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Translate Amharic to English</h2>
                <input type="text" id="amharic-text" placeholder="Enter Amharic text" class="w-full p-2 border rounded mb-2">
                <button onclick="translateAmharicToEnglish()" class="w-full p-2 bg-blue-500 text-white rounded">Translate</button>
                <ul id="amharic-to-english" class="list-none p-0 mt-2"></ul>
                <input type="file" id="amharic-file" accept=".txt" class="w-full p-2 border rounded mt-2">
                <button onclick="uploadAmharicFile()" class="w-full p-2 bg-blue-500 text-white rounded mt-2">Translate File</button>
                <div id="amharic-progress" style="display: none;" class="text-center mt-2">
                    <div class="spinner-border w-8 h-8 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
                </div>
                <p class="mt-2">By Atnafu <a id="amharic-english-link" class="model-link text-blue-500" href="#" target="_blank">Model Source 🤗</a></p>
            </div>

            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Translate English to Amharic</h2>
                <input type="text" id="english-text" placeholder="Enter English text" class="w-full p-2 border rounded mb-2">
                <button onclick="translateEnglishToAmharic()" class="w-full p-2 bg-blue-500 text-white rounded">Translate</button>
                <ul id="english-to-amharic" class="list-none p-0 mt-2"></ul>
                <input type="file" id="english-file" accept=".txt" class="w-full p-2 border rounded mt-2">
                <button onclick="uploadEnglishFile()" class="w-full p-2 bg-blue-500 text-white rounded mt-2">Translate File</button>
                <div id="english-progress" style="display: none;" class="text-center mt-2">
                    <div class="spinner-border w-8 h-8 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
                </div>
                <p class="mt-2">By Atnafu <a id="english-amharic-link" class="model-link text-blue-500" href="#" target="_blank">Model Source 🤗</a></p>
            </div>

            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Text to Speech</h2>
                <input type="text" id="tts-text" placeholder="Enter text for TTS" class="w-full p-2 border rounded mb-2">
                <button onclick="convertTextToSpeech()" class="w-full p-2 bg-blue-500 text-white rounded">Convert to Speech</button>
                <div id="tts-audio" class="mt-2"></div>
                <p class="mt-2">By Walelign <a id="tts-link" class="model-link text-blue-500" href="#" target="_blank">Model Source 🤗</a></p>
            </div>
        </div>
    </div>

    <div class="container mx-auto p-8 bg-white shadow-lg rounded-lg">
        <div class="intro-text text-center mb-8">
            <h1 class="text-4xl font-bold text-blue-900">Datasets</h1>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Machine Translation</h2>
                <p>Machine translation (MT) benchmark dataset for languages in the Horn of Africa.</p>
                <p>Languages supported: Afar, Amharic, English, Oromo, Somali, Tigrinya</p>
                <p>By <a id="llm-link" class="model-link text-blue-500" href="https://github.com/asmelashteka/HornMT" target="_blank">Asmelash</a></p>
            </div>

            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Upload Audio for Transcription</h2>
                <p>Upload audio files to transcribe them into text using the latest speech recognition models.</p>
                <p>Languages supported: Amharic, English</p>
                <p>By <a id="asr-link" class="model-link text-blue-500" href="https://huggingface.co/agkphysics/wav2vec2-large-xlsr-53-amharic" target="_blank">agkphysics</a></p>
            </div>

            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Translate Amharic to English</h2>
                <p>Translate Amharic text into English using state-of-the-art machine translation models.</p>
                <p>By <a id="amharic-english-link" class="model-link text-blue-500" href="https://huggingface.co/Atnafu/Amharic-English-MT" target="_blank">Atnafu</a></p>
            </div>

            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Translate English to Amharic</h2>
                <p>Translate English text into Amharic using state-of-the-art machine translation models.</p>
                <p>By <a id="english-amharic-link" class="model-link text-blue-500" href="https://huggingface.co/Atnafu/English-Amharic-MT" target="_blank">Atnafu</a></p>
            </div>

            <div class="section p-4 bg-gray-100 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold">Text to Speech</h2>
                <p>Convert text into speech using advanced text-to-speech models.</p>
                <p>Languages supported: Amharic</p>
                <p>By <a id="tts-link" class="model-link text-blue-500" href="https://huggingface.co/Walelign/speecht5_tts_Amharic" target="_blank">Walelign</a></p>
            </div>
        </div>
    </div>

    <footer class="text-center p-4 bg-blue-900 text-white mt-8">
        © 2024 Model Hub. By <a href="https://henokb.github.io/" class="text-white">Henok</a>
    </footer>

    <script>
        const modelDetails = {
            "llm": {
                "url": "https://huggingface.co/EthioNLP/EthioLLM-l-250K",
                "author": "EthioNLP"
            },
            "asr": {
                "url": "https://huggingface.co/agkphysics/wav2vec2-large-xlsr-53-amharic",
                "author": "agkphysics"
            },
            "amharicEnglish": {
                "url": "https://huggingface.co/Atnafu/Amharic-English-MT",
                "author": "Atnafu"
            },
            "englishAmharic": {
                "url": "https://huggingface.co/Atnafu/English-Amharic-MT",
                "author": "Atnafu"
            },
            "tts": {
                "url": "https://huggingface.co/Walelign/speecht5_tts_Amharic",
                "author": "Walelign"
            }
        };

        document.getElementById('llm-link').href = modelDetails.llm.url;
        document.getElementById('llm-link').textContent = `Model Source 🤗`;
        document.querySelector('#llm-link').previousSibling.textContent = `By ${modelDetails.llm.author} `;

        document.getElementById('asr-link').href = modelDetails.asr.url;
        document.getElementById('asr-link').textContent = `Model Source 🤗`;
        document.querySelector('#asr-link').previousSibling.textContent = `By ${modelDetails.asr.author} `;

        document.getElementById('amharic-english-link').href = modelDetails.amharicEnglish.url;
        document.getElementById('amharic-english-link').textContent = `Model Source 🤗`;
        document.querySelector('#amharic-english-link').previousSibling.textContent = `By ${modelDetails.amharicEnglish.author} `;

        document.getElementById('english-amharic-link').href = modelDetails.englishAmharic.url;
        document.getElementById('english-amharic-link').textContent = `Model Source 🤗`;
        document.querySelector('#english-amharic-link').previousSibling.textContent = `By ${modelDetails.englishAmharic.author} `;

        document.getElementById('tts-link').href = modelDetails.tts.url;
        document.getElementById('tts-link').textContent = `Model Source 🤗`;
        document.querySelector('#tts-link').previousSibling.textContent = `By ${modelDetails.tts.author} `;

        function getSuggestions() {
            let prompt = document.getElementById('prompt').value;
            if (!prompt.includes('<mask>')) {
                prompt += ' <mask>';
            }
            fetch('/get_suggestions', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    prompt: prompt
                }),
            }).then(response => response.json()).then(data => {
                const suggestionsList = document.getElementById('suggestions');
                suggestionsList.innerHTML = '';
                if (data.suggestions) {
                    data.suggestions.forEach((suggestion, index) => {
                        const li = document.createElement('li');
                        li.textContent = suggestion;
                        const feedback = document.createElement('span');
                        feedback.textContent = '👍';
                        feedback.classList.add('feedback');
                        feedback.onclick = () => sendFeedback(index, 'positive');
                        li.appendChild(feedback);
                        suggestionsList.appendChild(li);
                    });
                } else {
                    const li = document.createElement('li');
                    li.textContent = data.error;
                    suggestionsList.appendChild(li);
                }
            });
        }

        function sendFeedback(index, type) {
            fetch('/feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    index: index,
                    type: type
                }),
            }).then(response => response.json()).then(data => {
                alert(data.message);
            });
        }

        function uploadAudio() {
            const fileInput = document.getElementById('audio-file');
            const file = fileInput.files[0];
            if (!file) {
                alert('Please select an audio file to upload.');
                return;
            }
            const formData = new FormData();
            formData.append('file', file);

            fetch('/upload_audio', {
                method: 'POST',
                body: formData,
            }).then(response => response.json()).then(data => {
                const transcriptionsList = document.getElementById('transcriptions');
                transcriptionsList.innerHTML = '';
                if (data.transcription) {
                    const li = document.createElement('li');
                    li.textContent = JSON.stringify(data.transcription);
                    transcriptionsList.appendChild(li);
                } else {
                    const li = document.createElement('li');
                    li.textContent = data.error;
                    transcriptionsList.appendChild(li);
                }
            });
        }

        function translateAmharicToEnglish() {
            const text = document.getElementById('amharic-text').value;
            fetch('/translate_amharic_to_english', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    text: text
                }),
            }).then(response => response.json()).then(data => {
                const translationsList = document.getElementById('amharic-to-english');
                translationsList.innerHTML = '';
                if (data.translation) {
                    const li = document.createElement('li');
                    li.textContent = JSON.stringify(data.translation);
                    translationsList.appendChild(li);
                } else {
                    const li = document.createElement('li');
                    li.textContent = data.error;
                    translationsList.appendChild(li);
                }
            });
        }

        function translateEnglishToAmharic() {
            const text = document.getElementById('english-text').value;
            fetch('/translate_english_to_amharic', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    text: text
                }),
            }).then(response => response.json()).then(data => {
                const translationsList = document.getElementById('english-to-amharic');
                translationsList.innerHTML = '';
                if (data.translation) {
                    const li = document.createElement('li');
                    li.textContent = JSON.stringify(data.translation);
                    translationsList.appendChild(li);
                } else {
                    const li = document.createElement('li');
                    li.textContent = data.error;
                    translationsList.appendChild(li);
                }
            });
        }

        function uploadAmharicFile() {
            const fileInput = document.getElementById('amharic-file');
            const file = fileInput.files[0];
            if (!file) {
                alert('Please select a text file to upload.');
                return;
            }
            const formData = new FormData();
            formData.append('file', file);

            document.getElementById('amharic-progress').style.display = 'block';

            fetch('/translate_amharic_file', {
                method: 'POST',
                body: formData,
            }).then(response => response.blob()).then(blob => {
                document.getElementById('amharic-progress').style.display = 'none';
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'translated_amharic_to_english.txt';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            }).catch(() => {
                document.getElementById('amharic-progress').style.display = 'none';
                alert('Failed to translate file.');
            });
        }

        function uploadEnglishFile() {
            const fileInput = document.getElementById('english-file');
            const file = fileInput.files[0];
            if (!file) {
                alert('Please select a text file to upload.');
                return;
            }
            const formData = new FormData();
            formData.append('file', file);

            document.getElementById('english-progress').style.display = 'block';

            fetch('/translate_english_file', {
                method: 'POST',
                body: formData,
            }).then(response => response.blob()).then(blob => {
                document.getElementById('english-progress').style.display = 'none';
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'translated_english_to_amharic.txt';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            }).catch(() => {
                document.getElementById('english-progress').style.display = 'none';
                alert('Failed to translate file.');
            });
        }

        function convertTextToSpeech() {
            const text = document.getElementById('tts-text').value;
            fetch('/text_to_speech', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    text: text
                }),
            }).then(response => response.blob()).then(blob => {
                const url = window.URL.createObjectURL(blob);
                const audio = document.createElement('audio');
                audio.controls = true;
                audio.src = url;
                const audioContainer = document.getElementById('tts-audio');
                audioContainer.innerHTML = '';
                audioContainer.appendChild(audio);
            }).catch(() => {
                alert('Failed to convert text to speech.');
            });
        }
    </script>
</body>

</html>
